@import "variables.css";

.card {
  margin: 20px;
  width: 20rem;
  height: auto;
  text-align: center;
  background-color: var(--fondo-transparent-black);
  color: var(--letter-white);
  border-radius: 9999px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.cardBody {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
 
/* mis estilos de la tarjeta */
.button {
    border-radius: 8px;
    color: #00000080;
    width: auto;
    border: none;
}
button:hover {
    cursor: pointer;
    transition: 300ms;
    background-color: rgba(170, 198, 250, 0.521);
}