@import "variables.css";

.card {
  margin: 20px;
  width: 20rem;
  height: 10rem;
  text-align: center;
  background-color: var(--fondo-transparent-black);
  color: var(--letter-white);
  border-radius: 9999px;
}

@media only screen and (max-width: 600px) {
  .card {
    height: auto;
  }
}

.button {
    border-radius: 8px;
    color: #00000080;
    margin-right: 2rem;
    border: none;
}


button:hover {
    cursor: pointer;
    transition: 300ms;
    background-color: rgba(170, 198, 250, 0.521);
}