body{
    min-height: 100vh;
    padding-bottom: 6rem;
    position: relative;
    background-image: url("../src/styles/img/atardecer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    color: #000000;
    text-decoration: none;
}